doctype
html
    head
        title LIVE
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/loginRegister.css")
        link(rel="stylesheet", href="/css/gNav.css")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href="/")
    body(ng-app='app', ng-controller='overlordCtrl')
        block main-content
        include scripts
